---
---

$black: #212529;
$pink: #ed6ea7;

.btn-outline-pink {
  color: $pink;
  border-color: $pink;
}

.btn-outline-pink:hover {
  color: white;
  background-color: $pink;
}

.text-pink {
  color: $pink;
}

.text-black {
  color: $black;
}

.bg-pink {
  background-color: $pink;
}

.border-pink {
  border-color: $pink !important;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand.active,
.navbar-brand:hover {
  text-decoration: line-through;
  text-decoration-color: $pink;
}

.bg-black {
  background-color: black;
}

.activity > a {
  color: $black;
  padding: .5rem;
  display: block
}
