.text-pink {
  color: deeppink;
}

.bg-pink {
  background-color: deeppink;
}

.border-pink {
  border-color: deeppink !important;
}

.bg-black {
  background-color: black;
}

.activity {
  padding: .5rem;
}
