<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L'Usine fête ses 30 ans</title>
    <meta name="description" content="Du 27 au 29 septembre 2019, L’Usine fête ses trente ans.">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-black py-3">
      <a class="navbar-brand px-2 {% if page.url == '/' %}active{% endif %}" href="/" style="height: 40px;">
        <img src="/img/usine.svg" height="30" alt="">
      </a>
      <a class="navbar-brand px-2 {% if page.url == '/lieux/' %}active{% endif %}" href="/lieux">Par lieu</a>
      <a class="navbar-brand px-2 {% if page.url == '/activites/' %}active{% endif %}" href="/activites">Par heure</a>
      <a class="navbar-brand px-2 {% if page.url == '/affiches/' %}active{% endif %}" href="/affiches">Affiches</a>
    </nav>

    {{ content }}

    <div class="bg-pink py-5 border-top border-dark">
      <section class="container">
        <div class="row">
          <div class="col-12 col-lg">
            <p class="font-weight-bold lead">Usine & co</p>
            <p>
              Place des volontaires //
              <br>
              Rue de la Coulouvrenière //
              <br>
              Quai des Forces-motrices //
            </p>
          </div>
          <div class="col-12 col-lg">
            <p class="font-weight-bold lead">Horaires & tarifs</p>
            <p>
              ☉ VENDREDI NUIT - 21:00 - 08:00 ☉
              <br>
              ♢ PASS 30H A 15 CHF ♢
              <br>
              Valable de vendredi 21h à dimanche 6h
            </p>
            <p>
              ☉ SAMEDI JOUR - 08:00 - 22:00 ☉
              <br>
              ♢ ENTREE AVEC PASS 30H OU PRIX LIBRE ♢
            </p>
            <p>
              ☉ SAMEDI NUIT - 22:00 - 06:00 ☉
              <br>
              ♢ PASS 30H A 15 CHF ♢
            </p>
          </div>
        </div>
        <p class="mt-5">
          <a href="/documents/DP - 30 ANS USINE.pdf" class="btn btn-outline-black">Télécharge le dossier de presse!</a>
        </p>
      </section>
    </div>

    <footer class="py-5 container">
      <a href="https://www.usine.ch/">
        <img src="/img/usine-logo-30ans.svg" alt="Usine - 30 ans" class="img-fluid">
      </a>
      <div class="mt-5 text-center">
        <img src="/img/soutiens/ville-geneve.svg" alt="" height="50" class="mr-5">
        <img src="/img/soutiens/LoRo-Simple-NoirBlanc.jpg" alt="" height="50">
      </div>
    </footer>
  </body>
</html>
