<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L'Usine fête ses 30 ans</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    {{ content }}

    <footer>
      <a href="https://www.usine.ch/">
        <img src="/img/usine-logo-30ans.svg" alt="Usine - 30 ans" class="img-fluid">
      </a>
    </footer>
  </body>
</html>
